body {
  min-width: 300px;
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 0vh 5vw;
  flex-wrap: wrap;
}

.header_title {
  display: flex;
  font-size: large;
  margin-right: 2vw;
}

.header_list {
  display: flex;
  list-style: none;
  padding-top: 15px;
  gap: 20px;
  flex-wrap: wrap;
}

.header_list a {
  color: black;
  text-decoration: none;
}
.header_list a:hover {
  color: grey;
  text-decoration: 1px solid black;
}

.search_bar {
  display: flex;
  height: 5vh;
  width: 30vw;
  border-radius: 62px;
  padding: 5px 7px;
  background-color: #f0f0f0;
  margin: 15px 20px;
}

.search_input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  padding: 0px 10px;
}

.landing_page {
  background-color: #f2f0f1;
  margin: 0;
  min-height: 85vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5vw;
  flex-wrap: wrap;
}

.landing_content {
  flex: 1;
  min-width: 300px;
  max-width: 50%;
}

.landing_page h1 {
  margin-top: 0;
  margin-left: 0;
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.landing_page p {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 500px;
}

.shop_now_button {
  margin-left: 0;
  margin-top: 0;
  background-color: black;
  color: white;
  border: none;
  padding: 16px 54px;
  border-radius: 32px;
  transition: 0.5s ease;
  font-size: small;
  font-weight: bold;
}
.shop_now_button:hover {
  background-color: grey;
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.landing_image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 300px;
}

.landing_image img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.products {
  padding: 20px 5vw;
}

.products h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.product_container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.product_card {
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 10px;
  text-align: start;
  max-width: 250px;
  overflow: hidden;
}

.product_image {
  background-color: #f2f0f1;
  padding: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin: -8%;
}

.product_image img {
  width: 150px;
}

.product_image_text {
  padding: 0;
  margin-top: 5vh;
  background-color: transparent;
}
